@import url(./element__like-active.css);

.element__like {
    background-image: url(../../../images/like.svg);
    height: 18.13px;
    width: 20.76px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 22.24px;
    cursor: pointer;
    
  
}

.element__like:hover {
    opacity: 0.7;
}