.popup__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 13.26px;
    box-sizing: border-box;
    max-width: 358px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-top: 54px;

}

.popup__input:last-of-type {
  margin-top: 29.74px;

}

.popup__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 425px) {
  .popup__input{
    max-width: 238px;
    margin-top: 75px;

  }

  .popup__input:last-of-type {
    margin-top: 30px;
      

  }
}

.popup__input:invalid:not(:focus):not(:placeholder-shown) {
  border-bottom: 1px solid #FF0000;
}