.profile__add-btn {
    background-image: url(../../../images/Add-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    height: 50px;
    min-width: 150px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 30px;
}

.profile__add-btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: ease-in-out;

}

@media screen and (max-width: 900px) {
    .profile__add-btn {
        width: 282px;
        /*background-repeat: no-repeat;
        background-position: center;
        background-size: contain;*/
        margin-top: 36px;
        }
}