.popup__form{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 34px;
    padding-bottom: 48px;

}

@media screen and (max-width: 425px){
    .popup__form{
        padding-left: 22px;
        padding-top: 25px;
        padding-bottom: 45px;

    }
}