.popup__close {
    background-image: url('../../../images/CloseIcon.svg');
    border-style: none;
    background-color: transparent;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40.7px;
    height: 40.7px;
    
}


.popup__close:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: ease-in-out;

}

@media screen and (max-width: 425px){
    .popup__close {
        right:0;
        width: 26px;
        height: 26px;
    }
}