.profile__edit-btn {
    background-image: url(../../../images/EditButton.svg);
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    margin-left: 17px;
    background-size: contain;
}

.profile__edit-btn:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: ease-in-out;
    
}

@media screen and (max-width: 768px) {
    .profile__edit-btn {
        height: 18px;
        width: 18px;
        
    }
}