.profile__info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin-top: 14px;
    }
}