@import url(./__text/footer__text.css);

.footer {
    margin: 0 auto;
    padding: 66px 60px;
    max-width: 882px;
}

@media screen and (max-width: 425px) {
    .footer{
        padding: 48px 36px;
        max-width: 282px;
    }
}