@import url(./__image/element__image.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);
@import url(./__card/element__card.css);
@import url(./__like/element__like-active.css);
@import url(./__delete/element__delete.css);

.element{
 font-family: 'Inter', Arial, sans-serif;
 background-color: rgb(255, 255, 255);
 border-radius: 2.5%;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 position: relative;
 

 
}